.mpReset, .mainIndex .article__body .article__body--content .container-fluid, .mainIndex .article__body .article__body--content .container-fluid .row, .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Sora', sans-serif; }

.header {
  min-height: 10vh;
  background-color: #f2f2f2; }
  .header .navbar {
    min-height: 10vh;
    margin: 0 auto;
    padding: 15px 15px 15px 5px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.5); }
    .header .navbar a {
      color: black; }
    .header .navbar .notActive {
      color: rgba(0, 0, 0, 0.5); }
    .header .navbar .active {
      color: black; }

.mainIndex {
  min-height: 80vh; }
  .mainIndex .article__header {
    background-color: #f2f2f2;
    min-height: 45vh; }
    .mainIndex .article__header .article__header--content {
      min-height: 45vh;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px; }
      .mainIndex .article__header .article__header--content .h1 {
        font-weight: bold; }
      .mainIndex .article__header .article__header--content .spanBig {
        font-weight: bold;
        font-size: 40px; }
  .mainIndex .article__body .article__body--content {
    margin: 0 auto; }
    .mainIndex .article__body .article__body--content .container-fluid {
      margin: 100px 0; }
      .mainIndex .article__body .article__body--content .container-fluid .row {
        width: 100%;
        justify-content: space-between;
        margin: 10vh 0; }
        .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle {
          height: 250px;
          width: 250px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle .img {
            width: 100%; }
          .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle .h6 {
            margin: 15px 0 0 0;
            font-weight: bold; }
            .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle .h6 a {
              text-decoration: none;
              color: black; }

@media (min-width: 1250px) {
  .mainIndex .article__header .article__header--content .h1 {
    font-size: 40px; }
  .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle {
    width: 300px; } }

@media (max-width: 1023px) {
  .mainIndex .article__body .article__body--content .container-fluid .row {
    flex-direction: column;
    align-items: center; }
    .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle {
      margin: 5vh 0; } }

.footer {
  min-height: 10vh;
  border-top: 1px solid rgba(194, 194, 194, 0.5); }
