.mpReset, .mainIndex .article__body .article__body--content .container-fluid, .mainIndex .article__body .article__body--content .container-fluid .row, .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle {
  margin: 0;
  padding: 0; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Sora', sans-serif; }

.header {
  min-height: 10vh;
  background-color: #f2f2f2; }
  .header .navbar {
    min-height: 10vh;
    margin: 0 auto;
    padding: 15px 15px 15px 5px;
    border-bottom: 1px solid rgba(194, 194, 194, 0.5); }
    .header .navbar a {
      color: black; }
    .header .navbar .notActive {
      color: rgba(0, 0, 0, 0.5); }
    .header .navbar .active {
      color: black; }

.mainIndex {
  min-height: 80vh; }
  .mainIndex .article__header {
    background-color: #f2f2f2;
    min-height: 45vh;
    padding: 6vh 0; }
    .mainIndex .article__header .article__header--content {
      min-height: 45vh;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding: 15px; }
      .mainIndex .article__header .article__header--content .h1 {
        font-weight: bold; }
      .mainIndex .article__header .article__header--content .spanBig {
        font-weight: bold;
        font-size: 40px; }
  .mainIndex .article__body .article__body--content {
    margin: 0 auto; }
    .mainIndex .article__body .article__body--content .container-fluid {
      margin: 100px 0; }
      .mainIndex .article__body .article__body--content .container-fluid .row {
        width: 100%;
        justify-content: space-between;
        margin: 10vh 0; }
        .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle {
          height: 250px;
          width: 280px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start; }
          .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle .linkThumbnail {
            box-shadow: 0 10px 20px 0 rgba(28, 27, 26, 0);
            transition: box-shadow .3s linear; }
          .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle .linkThumbnail:hover {
            box-shadow: 0 10px 20px 0 rgba(28, 27, 26, 0.2); }
          .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle .img {
            width: 100%; }
          .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle .h6 {
            margin: 15px 0 0 0;
            font-weight: bold; }
            .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle .h6 a {
              text-decoration: none;
              color: black; }
            .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle .h6 .linkBorder {
              line-height: 3vh;
              transition: border-color .15s ease-out;
              border-bottom: solid 2px rgba(49, 48, 48, 0); }
            .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle .h6 .linkBorder:hover {
              color: #313030;
              border-color: rgba(49, 48, 48, 0.5); }

@media (min-width: 1px) {
  .mainIndex .article__body .article__body--content .container-fluid .row {
    flex-direction: column;
    align-items: center;
    margin: 0; }
    .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle {
      margin: 5vh 0; } }

@media (min-width: 768px) {
  .mainIndex .article__body .article__body--content .container-fluid .row {
    flex-direction: row; } }

@media (min-width: 1024px) {
  .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle {
    width: 250px; } }

@media (min-width: 1250px) {
  .mainIndex .article__header .article__header--content .h1 {
    font-size: 55px; }
  .mainIndex .article__body .article__body--content .container-fluid .row .blogArticle {
    width: 300px; } }

.footer {
  min-height: 10vh;
  background-color: #f2f2f2;
  border-top: 1px solid rgba(194, 194, 194, 0.5); }
  .footer .footerContainer {
    min-height: 10vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #575757; }
    .footer .footerContainer .footerContainerLeft {
      height: 100%; }
      .footer .footerContainer .footerContainerLeft .spanPersonFooter::before {
        content: '|';
        display: inline;
        margin: 0 15px; }
    .footer .footerContainer .footerContainerRight a {
      margin: 0 0 0 10px; }
      .footer .footerContainer .footerContainerRight a img {
        width: 20px; }

@media (max-width: 1023px) {
  .footer {
    min-height: 20vh; }
    .footer .footerContainer {
      min-height: 20vh;
      flex-direction: column;
      justify-content: space-evenly;
      font-size: 14px; } }
